body {
  background-color: #3d3d42;
}


.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #70EED6; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 14px; margin: 8px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

h1 {
  color: #70EED6;
  text-align: center;
  margin: 44px auto;
  font-size: 27px;
  margin-left: -20px;
  font-family: Helvetica, sans-serif;
}

.strong {
  color: #B9F9EC;
}

h2 {
  color: #B9F9EC;
  text-align: center;
  margin: 35px auto;
  margin-left: -20px;
}

.checkboxes {
  display: inline-flex;
  color: #D7F8F5;
  text-align: center;
  font-size: 15px;
  margin: 14px auto;
  margin-right:39px;
  margin-left: 12px;

}

.arrow {
  font-size: 20px;
  color: #E8F7F6;
  text-align: center;

}

.logo {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 43%;
  margin-left: -59px;
  margin-top: -28px;
}

.img-hover-zoom {
  height: 300px;
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform .5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
}

